body{
	background-image: url(./assets/background2.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.msg-container{
	width: 510px;
	height: 400px;
	position: absolute;
	top: 51%;
	transform: translateY(-50%);
	overflow: hidden;
}
#gas{
	margin-left: 42.5%;
}
#slider{
	display: inline-flex;
	transition: 1.8s;
}
.msg-col{
	margin-top: 1.3%;
	width: 513px;
	height: 280px;
}
.msg-col p{
	font-family: lato;
	color: black;
	font-size: 15px;
	line-height: 25px;
}
#sidebar{
	height: 577px; 
	background-color: #089bab;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	box-shadow: 0 0 7px 2px #00BFFF;
}
.msg-col a{
	color: white;
	text-decoration: none;
}
.form-control{
	width: 100%;
}


/* Mobile Ukuran Umum */
@media (min-width:200px) and (max-width:560px){
	.pembungkusSidebar img{
		margin-top: -60px;
		width: 200px;
	}
	.pembungkusSidebar p,h2{
		display: none;
	}
	#gas{
		display: none;
	}
	#sidebar{
	position: fixed;
	height: 900px; 
	}
	.msg-container{
	width: 510px;
	height: 400px;
	left: 9%;
	top: 430px;
	transform: translateY(-50%);
	overflow: hidden;
	position: fixed;
	}
	#semuaButton{
	top: 170px;
	left: 30px;
	position: fixed;
	}
	.msg-col{
	margin-top: 1.3%;
	width: 513px;
	height: 280px;
	}
	.msg-col p{
		font-family: lato;
		color: black;
		font-size: 10px;
		line-height: 25px;
	}
	}
	.form-group{
		width: 62%;
	}

