body{
	background-color: #f0f0f0;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}
h1{
    text-align: center;
}
.search{
	position: relative;
	left: 23%;
}
#button{
	position: relative;
	left: 10px;
}

/* Mobile */
@media (min-width: 321px) and (max-width: 736px) {
	.search{
		position: relative;
		left: 20px;
		width: 200px;
	}
	#button{
		position: relative;
		left: 230px;
		top: -38px;
	}
	.isi{
		margin-left: 15px;
	}
	body h1{
		margin-left: 15px;
	}
}
